@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-bottom: 4rem;
  color: #39393a;
  background-color: #fdfbed;
}

@media only screen and (max-width: 600px) {
  html {
    scroll-padding: 4rem;
  }
}
